html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    background-color: rgb(195, 226, 226);
}

nav {
    background-color: teal;
    padding: 10px;
    width: 15vw;
    height: 100vh;
    color: white;
    border-radius: 5px;
}